
section
h1 {
    color: lightpink;
    text-align: center;
    
}
header {
    color: lightpink;
    font-family: Harrington:'Century Gothic':Georgia;
    text-align: center;
    font-size: 35px;
     
}
body {
    color:aquamarine;
    font-family:Harrington;
    text-align:center;
    font-size: 35px;